<div class="panel panel-default login-form">
    <div class="panel-body">
        <form role="form" ng-submit="controller.login()">
            <div class="alert alert-danger" ng-show="controller.error">
                Возникла проблема при авторизации. Повторите попытку.
            </div>
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="controller.credentials.username"/>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="controller.credentials.password"/>
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
    </div>
</div>