<div class="row page-content" ng-controller="ContragentsCtrl">
    <uib-tabset active="activeJustified" justified="false" type="pills">
        <uib-tab index="0" heading="Мои покупатели">
            <contragents-table table-params="buyersTableParams" checkboxes="buyerCheckboxes" invoices="buyerInvoices"
                               current-invoices-page="currentBuyerInvoicesPage" event="buyerProposalToChangeEvent"></contragents-table>
        </uib-tab>
        <uib-tab index="1" heading="Мои поставщики">
            <contragents-table table-params="suppliersTableParams" checkboxes="supplierCheckboxes" invoices="supplierInvoices"
                               current-invoices-page="currentSupplierInvoicesPage" event="supplierProposalToChangeEvent" show-import="true"></contragents-table>
        </uib-tab>
    </uib-tabset>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" ng-click="checkAll()" id="select_all" name="filter-checkbox"
           value=""/>
</script>
