<div class="row page-content">
    <uib-tabset active="activeJustified" justified="false" type="pills">
        <uib-tab index="0" heading="История рынка">
            <div class="row" ng-controller="GetPrepayHistoryChartCtrl as gpHistoryChart">
                Функция в beta версии не доступна
                <!--<div class="col-xs-8">-->
                    <!--<canvas id="line" class="chart chart-line" chart-data="line_data"-->
                            <!--chart-labels="line_labels" chart-legend="true"-->
                            <!--chart-click="gpHistoryChart.onClick">-->
                    <!--</canvas>-->
                    <!--<canvas id="bar" class="chart chart-bar"-->
                            <!--chart-data="bar_data" chart-labels="bar_labels">-->
                    <!--</canvas>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="btn-group btn-group-justified" role="group" aria-label="...">-->
                                <!--<a href ng-click="gpHistoryChart.drawWeekChart()" class="btn btn-default" role="button">История-->
                                    <!--за неделю</a>-->
                                <!--<a href ng-click="gpHistoryChart.drawMonthChart()" class="btn btn-default"-->
                                   <!--role="button">История за месяц</a>-->
                            <!--</div>-->
                            <!--<p>Максимальная цена: {{maxPrice}}</p>-->
                            <!--<p>Минимальная цена: {{minPrice}}</p>-->
                            <!--<p>Средняя цена: {{avgPrice}}</p>-->
                            <!--<p>Средний объем сделок: {{avgDeals}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Рыночная заявка">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="bidMarketForm" ng-controller="BidMarketCtrl">
                        <div class="form-group form-inline">
                            <label>Заказать предоплаты на сумму: </label>
                            <input ng-model="bidQty" type="number" min="0" step="any" class="form-control" placeholder="Сумма"
                                   required>
                        </div>
                        <div>
                            <p>В данный момент вы можете получить предоплату на эту сумму со следующими
                                параметрами:</br>
                                APR={{bidApr}}</br>
                                % скидки={{avgDiscountPerc}}</br>
                                общая сумма скидок будет составлять={{discountSum}}</br>
                                средний срок оплаты={{avgDaysToPayment}} дней
                            </p>
                        </div>
                        <div class="alert alert-warning alert-dismissable"
                             ng-show="calculationCalled && calculatedWithError">
                            {{calculationErrorMsg}}
                        </div>
                        <button type="submit" ng-click="openConfirmation()" ng-disabled="!calculationCalled || calculatedWithError"
                                class="btn btn-default">Подтвердить
                        </button>
                        <button type="reset" ng-click="reset()" class="btn btn-default">Сбросить</button>
                        <button type="submit" ng-click="calculateMarketBidOrder()" class="btn btn-default">Пересчитать
                        </button>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Отложенная заявка">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="bidLimitForm" ng-controller="BidLimitCtrl">
                        <div class="form-group form-inline">
                            <label>Введите желаемый APR: </label>
                            <input name="bidApr" ng-model="bidApr" type="number" min="0" max="99" step="any" class="form-control"
                                   placeholder="Процент" required>
                        </div>
                        <div class="form-group form-inline">
                            <label>Введите желаемую сумму для получения предоплаты: </label>
                            <input name="bidQty" ng-model="bidQty" type="number" min="0" step="any" class="form-control"
                                   placeholder="Сумма" required>
                        </div>
                        <div class="alert alert-info alert-dismissable" ng-show="limitOrderPartTradedAsMarket">
                            <p>По заданному APR к моментальному исполнению подлежит сумма: {{satisfiedBidQty}} грн.</p>
                        </div>
                        <div class="alert alert-warning alert-dismissable"
                             ng-show="calculationCalled && calculatedWithError">
                            {{calculationErrorMsg}}
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <canvas id="pos_bar" class="chart chart-bar"
                                        chart-data="pos_bar_data" chart-labels="pos_bar_labels">
                                </canvas>
                            </div>
                        </div>
                        <button type="submit" ng-click="openConfirmation()" ng-disabled="!calculationCalled || calculatedWithError"
                                class="btn btn-default">Подтвердить
                        </button>
                        <button type="reset" ng-click="reset()" class="btn btn-default">Сбросить</button>
                        <button type="submit" ng-click="calculateLimitBidOrder()" class="btn btn-default">Пересчитать
                        </button>
                    </form>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>