<div class="row page-content">
    <uib-tabset active="activeJustified" justified="false" type="pills">
        <uib-tab index="0" heading="Выдать срочно">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="askMarketForm"  ng-controller="MarketAskCtrl">
                        <div class="form-group form-inline" ng-class="{'has-error': !askMarketForm.askQty.$pristine && askMarketForm.askQty.$invalid}">
                            <label>Введите желаемую для заказа сумму предоплаты: </label>
                            <input name="askQty" type="number" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" ng-model="askQty" placeholder="Сумма"
                                   required>
                        </div>
                        <div>
                            <p>В данный момент вы можете авансировать эту сумму со следующими параметрами:</p>
                            <table class="table table-bordered order-result-table">
                                <col width="15%">
                                <col width="15%">
                                <tr><td>Годовая процентная ставка (%)</td><td>{{askApr}}</td></tr>
                                <tr><td>Процент скидки (%)</td><td>{{avgDiscountPerc}}</td></tr>
                                <tr><td>Общая сумма скидок будет составлять (грн.)</td><td>{{discountSum}}</td></tr>
                                <tr><td>Средний срок оплаты (дни)</td><td>{{avgDaysToPayment}}</td></tr>
                            </table>
                        </div>
                        <div class="alert alert-warning alert-dismissable"
                             ng-show="calculationCalled && calculatedWithError" ng-bind-html="calculationErrorMsg"></div>
                        <button type="submit" ng-click="calculateAskMarketOrder()" class="btn btn-default">Запросить данные</button>
                        <button type="reset" class="btn btn-default" ng-click="reset()">Отказаться</button>
                        <button type="submit" ng-click="openConfirmation()" ng-disabled="!calculationCalled || calculatedWithError"
                                class="btn btn-success">Осуществить рыночную сделку</button>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Отложенная заявка">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="askLimitForm" ng-controller="LimitAskCtrl">
                        <div class="form-group form-inline" ng-class="{'has-error': !askLimitForm.askQty.$pristine && askLimitForm.askQty.$invalid}">
                            <label>Введите желаемую сумму для осуществления предоплаты: </label>
                            <input name="askQty" ng-model="askQty" type="number" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" placeholder="Сумма"
                                   required>
                        </div>
                        <div class="form-group form-inline" ng-class="{'has-error': !askLimitForm.askApr.$pristine && askLimitForm.askApr.$invalid}">
                            <label>Введите желаемую годовую процентную ставку: </label>
                            <input name="askApr" ng-model="askApr" type="number" min="0" max="100" step="0.1" ng-pattern="/^[0-9]+(\.[0-9]{1})?$/" class="form-control"
                                   placeholder="Процент" required>
                        </div>
                        <div class="alert alert-info alert-dismissable" ng-show="limitOrderPartTradedAsMarket">
                            <p>По заданной годовой процентной ставке к моментальному исполнению подлежит сумма {{satisfiedAskQty}} грн.</p>
                        </div>
                        <div class="alert alert-warning alert-dismissable"
                             ng-show="calculationCalled && calculatedWithError" ng-bind-html="calculationErrorMsg"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="bar_data" chart-labels="bar_labels" chart-series="bar_series">
                                </canvas>
                            </div>
                        </div>
                        <!--<button type="submit" ng-click="calculateLimitAskOrder()" class="btn btn-default">Пересчитать</button>-->
                        <button type="submit" ng-click="makePrepay()" ng-disabled="calculationCalled || calculatedWithError"
                                class="btn btn-success">Разместить отложенную заявку</button>
                        <button type="reset" ng-show="calculatedWithError" ng-click="reset()" class="btn btn-default">Ввести заново</button>
                    </form>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="История рынка">
            <div class="row" ng-controller="MakePrepayHistoryChartCtrl">
                Функция в beta версии не доступна
                <!--<div class="col-xs-8">-->
                <!--<canvas id="line" class="chart chart-line" chart-data="line_data"-->
                <!--chart-labels="line_labels" chart-legend="true" chart-series="line_series"-->
                <!--chart-click="onClick">-->
                <!--</canvas>-->
                <!--<canvas id="bar" class="chart chart-bar"-->
                <!--chart-data="bar_data" chart-labels="bar_labels" chart-series="bar_series">-->
                <!--</canvas>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <!--<div class="btn-group btn-group-justified" role="group" aria-label="...">-->
                <!--<a href="#" class="btn btn-default" role="button">История за неделю</a>-->
                <!--<a href="#" class="btn btn-default" role="button">История за месяц</a>-->
                <!--</div>-->
                <!--<p>Максимальная цена: {{maxPrice}}</p>-->
                <!--<p>Минимальная цена: {{minPrice}}</p>-->
                <!--<p>Средняя цена: {{avgPrice}}</p>-->
                <!--<p>Средний объем сделок: {{avgDeals}}</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </uib-tab>
    </uib-tabset>
</div>