<div class="row page-content" ng-controller="TransHistoryCtrl as transactionHistory">
    <uib-tabset active="activeJustified" justified="false" type="pills">
        <uib-tab index="0" heading="Выданные предоплаты">
            <div class="table-responsive">
                <table ng-table="asksTableParams" class="table table-condensed table-bordered table-striped"
                       show-filter="true">
                    <tr class="ng-table-group" ng-repeat-start="record in $data">
                        <td>
                            <a href="" ng-click="record.$hideRows = !record.$hideRows">
                                <span class="glyphicon"
                                      ng-class="{ 'glyphicon-chevron-right': record.$hideRows, 'glyphicon-chevron-down': !record.$hideRows }">{{record.date | date:'dd/MM/yyyy hh:mm:ss'}}</span>
                            </a></td>
                        <td>{{record.historyOrderType}}</td>
                        <td>{{record.price | number : 2}}</td>
                        <td>{{record.periodReturn | number : 2}}</td>
                        <td>{{record.historyTrades.avg('avgDiscountPerc') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('unpaidInvoiceValue') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('quantity') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('discountValue') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('toPay') | number : 2}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-hide="record.$hideRows" ng-repeat="trade in record.historyTrades" ng-repeat-end>
                        <td data-title="'Время сделки'"></td>
                        <td data-title="'Тип сделки'">
                            </td>
                        <td data-title="'Годовая доходность'" sortable="'price'">
                            {{trade.price | number : 2}}</td>
                        <td data-title="'Доходность за период'" sortable="'periodReturn'">
                            {{trade.periodReturn | number : 2}}</td>
                        <td data-title="'% скидки'" sortable="'avgDiscountPerc'">
                            {{trade.avgDiscountPerc | number : 2}}</td>
                        <td data-title="'Исходная сумма'" sortable="'unpaidInvoiceValue'">
                            {{trade.unpaidInvoiceValue | number : 2}}</td>
                        <td data-title="'Предоплата'" sortable="'quantity'">
                            {{trade.quantity | number : 2}}</td>
                        <td data-title="'Скидка'" sortable="'discountValue'">
                            {{trade.discountValue | number : 2}}</td>
                        <td data-title="'Остаток  к оплате'" sortable="'toPay'">
                            {{trade.toPay | number : 2}}</td>
                        <td data-title="'Поставщик'" sortable="'target.name'">
                            {{trade.target.name}}</td>
                        <td data-title="'# инвойса'" sortable="'invoice.id'">
                            {{trade.invoice.id}}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Полученные предоплаты">
            <div class="table-responsive">
                <table ng-table="bidsTableParams" class="table table-condensed table-bordered table-striped"
                       show-filter="true">
                    <tr class="ng-table-group" ng-repeat-start="record in $data">
                        <td>
                            <a href="" ng-click="record.$hideRows = !record.$hideRows">
                                <span class="glyphicon"
                                      ng-class="{ 'glyphicon-chevron-right': record.$hideRows, 'glyphicon-chevron-down': !record.$hideRows }">{{record.date | date:'dd/MM/yyyy hh:mm:ss'}}</span>
                            </a></td>
                        <td>{{record.historyOrderType}}</td>
                        <td>{{record.price | number : 2}}</td>
                        <td>{{record.periodReturn | number : 2}}</td>
                        <td>{{record.historyTrades.avg('avgDiscountPerc') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('unpaidInvoiceValue') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('quantity') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('discountValue') | number : 2}}</td>
                        <td>{{record.historyTrades.sum('toPay') | number : 2}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-hide="record.$hideRows" ng-repeat="trade in record.historyTrades" ng-repeat-end>
                        <td data-title="'Время сделки'"></td>
                        <td data-title="'Тип сделки'">
                        </td>
                        <td data-title="'Годовая доходность'" sortable="'price'">
                            {{trade.price | number : 2}}</td>
                        <td data-title="'Доходность за период'" sortable="'periodReturn'">
                            {{trade.periodReturn | number : 2}}</td>
                        <td data-title="'% скидки'" sortable="'avgDiscountPerc'">
                            {{trade.avgDiscountPerc | number : 2}}</td>
                        <td data-title="'Исходная сумма'" sortable="'unpaidInvoiceValue'">
                            {{trade.unpaidInvoiceValue | number : 2}}</td>
                        <td data-title="'Предоплата'" sortable="'quantity'">
                            {{trade.quantity | number : 2}}</td>
                        <td data-title="'Скидка'" sortable="'discountValue'">
                            {{trade.discountValue | number : 2}}</td>
                        <td data-title="'Остаток  к оплате'" sortable="'toPay'">
                            {{trade.toPay | number : 2}}</td>
                        <td data-title="'Покупатель'" sortable="'target.name'">
                            {{trade.target.name}}</td>
                        <td data-title="'# инвойса'" sortable="'invoice.id'">
                            {{trade.invoice.id}}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>