<div class="row page-content" >
	<uib-tabset active="activeJustified" justified="false" type="pills">
		<uib-tab index="0" heading="История рынка">
			<div class="row" ng-controller="GetPrepayHistoryChartCtrl as gpHistoryChart">
				<div class="col-xs-8">
					<canvas id="line" class="chart chart-line" chart-data="line_data"
							chart-labels="line_labels" chart-legend="true"
							chart-click="gpHistoryChart.onClick">
					</canvas>
					<canvas id="bar" class="chart chart-bar"
							chart-data="bar_data" chart-labels="bar_labels" >
					</canvas>
				</div>
				<div class="col-xs-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<a href ng-click="gpHistoryChart.drawWeekChart()" class="btn btn-default" role="button">История за неделю</a>
								<a href ng-click="gpHistoryChart.drawMonthChart()" class="btn btn-default" role="button">История за месяц</a>
							</div>
							<p>Максимальная цена: {{maxPrice}}</p>
							<p>Минимальная цена: {{minPrice}}</p>
							<p>Средняя цена: {{avgPrice}}</p>
							<p>Средний объем сделок: {{avgDeals}}</p>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Рыночная заявка">
			<div class="panel panel-default">
				<div class="panel-body">
					<form name="askMarketForm" ng-controller="AskMarketCtrl">
						<div class="form-group form-inline">
							<label>Заказать предоплаты на сумму: </label>
							<input ng-model="askQty" type="number" min="0" class="form-control" placeholder="Сумма" required>
						</div>
						<div>
							<p>В данный момент вы можете получить предоплату на эту сумму со следующими параметрами:</br>
								APR={{askApr}}</br>
								средний % скидки=</br>
								общая сумму скидок будет составлять=
							</p>
						</div>
						<div ng-hide="demandSatisfied" class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							В данный момент ваши покупатели готовы сделать предоплату только на сумму= грн. под APR=
							Остаток ( грн) будет размещен по APR=
						</div>
						<div ng-show="noCounterparties" class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							К сожалению, в данный момент нет контрагентов, желающих делать предоплаты. Предлагаем воспользоваться отложенным исполнением по последней рыночной цене APR=
						</div>
						<button type="submit" ng-click="submitMarketAskOrder()" class="btn btn-default">Подтвердить</button>
						<button type="reset" class="btn btn-default">Сбросить</button>
						<button type="submit" ng-click="calculateMarketAskOrder()" class="btn btn-default">Пересчитать</button>
					</form>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2" heading="Отложенная заявка">
			<div class="panel panel-default">
				<div class="panel-body">
					<form name="askLimitForm" ng-controller="AskLimitCtrl">
						<div class="form-group form-inline">
							<label>Введите желаемый APR: </label>
							<input name="apr" ng-model="apr" type="number" min="0" max="99" class="form-control" placeholder="Процент" required>
						</div>
						<div class="form-group form-inline">
							<label>Введите желаемую сумму для осуществления предоплаты: </label>
							<input name="askQty" ng-model="askQty" type="number" min="0" class="form-control" placeholder="Сумма" required>
						</div>
						<div>
							<p>По заданному APR к моментальному исполнению подлежит сумма .</p>
						</div>
						<div class="alert alert-warning alert-dismissable" ng-show="!askLimitForm.$valid">
							Для расчета заявки необходимо заполнить все обязательные поля
						</div>
						<div class="row">
							<div class="col-xs-4">
								<canvas id="pos_bar" class="chart chart-bar"
										chart-data="pos_bar_data" chart-labels="pos_bar_labels">
								</canvas>
							</div>
						</div>
						<button type="submit" ng-click="" class="btn btn-default">Подтвердить</button>
						<button type="reset" class="btn btn-default">Сбросить</button>
						<button type="submit" ng-click="" class="btn btn-default">Пересчитать</button>
					</form>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>