<div class="row page-content" ng-controller="LimitOrdersCtrl">
    <uib-tabset active="activeJustified" justified="false" type="pills">
        <uib-tab index="0" heading="Выданные предоплаты">
            <div class="table-responsive">
                <table ng-table="asksTableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <tr ng-repeat="record in $data">
                        <td data-title="'Сумма'" filter="{ 'quantity': 'number'}" sortable="'quantity'">
                            {{record.quantity}}</td>
                        <td data-title="'APR'" filter="{ 'price': 'number'}" sortable="'price'">
                            {{record.price}}</td>
                        <td data-title="'Дата'" sortable="'date'">
                            {{record.date | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Полученные предоплаты">
            <div class="table-responsive">
                <table ng-table="bidsTableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <tr ng-repeat="record in $data">
                        <td data-title="'Сумма'" filter="{ 'quantity': 'number'}" sortable="'quantity'">
                            {{record.quantity}}</td>
                        <td data-title="'APR'" filter="{ 'price': 'number'}" sortable="'price'">
                            {{record.price}}</td>
                        <td data-title="'Дата'" sortable="'date'">
                            {{record.date | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>